html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

a.topnav {
  font-size: 1.3rem;
}

a.topnav:hover {
  font-size: 1.3rem;
  padding: 6px 8px;
  border-top: 2px solid #ffc107;
  border-bottom: 2px solid #ffc107;
}

a.top-nav-btn {
  font-size: 1.3rem;
  margin: auto 5px;
}

.active {
  font-size: 1.3rem;
  padding: 6px 8px;
  border-top: 2px solid rgba(0, 0, 0, .5);
  border-bottom: 2px solid rgba(0, 0, 0, .5);
}

div.jumbotron {
  background-image: url('images/main-img.jpg');
  background-position: center;
  height: 70vh;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7rem;
}

h1.display-2 {
  text-shadow: 2px 3px 3px #000000;
}

p.h2 {
  text-shadow: 2px 2px 4px #000000;
}

.divider {
  margin: 5rem 0;
}

div.features {
  margin: 7rem auto;
}

p.features {
  font-size: 2rem;
}

div.video-container {
  margin: 7rem auto;
}

div.video {
  box-shadow: 20px 20px 10px #6c757d;
}

div.about {
  font-size: 2rem;
  padding-left: 2rem;
}






/*! CATALOG START */

.catalog {
  margin: 7rem auto;
}

.catalog-item {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}





/*! REGISTER START */

.form-register .checkbox {
  font-weight: 400;
}

.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-register .form-control:focus {
  z-index: 2;
}

.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form {
  max-width: 600px;
  padding: 4rem 2rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .form-register {
    padding: 4rem 2rem;
  }
  .form-register {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }
  
  
  
  
  /*! TESTIMONIALS START */

  .testimonials .col-lg-4 {
    text-align: center;
  }
  
  .card {
    border: none;
  }
  
  img.reviewer-img {
    margin: auto;
  }

 /*! FOOTER START */ 
  
.footer-link {  
  color: #f8f9fa;
  }
  
.footer-link:hover {  
  color: rgba(248, 249, 250, 0.5);
  }  
  
  p.company-footer {
   padding: .5rem 1rem;
  }
  
   p.info-text {
   padding: .5rem .5rem;
  }
  
  
/*! RESPONSIVE FORMATTING */
    @media (min-width: 62em) {
      .feature-heading {
        margin-top: 7rem;
      }
    }
 
.anchor {
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}
